body {
    font-family: cursive;
}

.main-color {
    background-color: darkgray !important;
}

.banner{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/Foto/banner.jpg');
    background-size: cover;
    background-position: center;
}

.hovered-card {
    transition: 0.3s;
}

.hovered-card:hover {
    transform: scale(1.1);
}

.icon-service {
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #fff;
}

.content-footer {
    background-color: gray;
}

.banner-2{
    height: 55vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/Foto/kopi.jpg');
    background-size: cover;
    background-position: center;
}

.cmd-7 {
    padding: 20px;
}

#cmd-5 {
    background-color: darkgray;
    padding: 20px;
    color: black;
}